* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  background-image:url(wall1.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin:0
}

#container {
  display:flex;
  flex-direction: column;
  width: 100vw;
}

#title {
  color:bisque;
  font-size: 70px;
  height: 150px;
  background-color:indianred;
  text-decoration: overline;
  align-self: center;
  text-align: center;
}

#back {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 80vh;;
}

.dogs {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  height: 80vh;
  border-radius: 50px;
  flex: 0.5;
  cursor: pointer;
  margin: 10px;
  -webkit-transition: all 700ms ease-in;
}

.dogs h3 {
  color: indianred;
  font-size: 2.5rem;
  bottom: 20px;
  left: 20px;
  margin-top: 10px;
  opacity: 0;
}

.dogs.active {
  flex-grow: 5;
}

.dogs.active h3 {
  opacity: 1;
  transition: opacity 0.5s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
}
